<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}"
        rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>회원 상세페이지</h2>
  </div>
  <form action="search.html" th:action th:object="${member}" method="post">
  <div>
    <label for="name">회원 이름</label>
    <input type="text" th:field="*{name}" class="form-control" readonly>
  </div>
  <div>
    <label for="loginid">ID</label>
    <input type="text" th:field="*{loginId}" class="form-control" readonly>
  </div>

  <hr class="my-4">

    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='loginForm.html'"
              th:onclick="|location.href='@{login}'|"
              type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>